/*  your css code here. If applicable */
body{
	margin:0;
	background-color: #f8f8f8;
	widows: 100vw;
}
#space{
	
}
#price-container{
	background-color: #2ecc71;
	color: white;
	text-align: center;
	width: 85vw;
	margin: auto;
	padding: 1px 0px 1px 0px;
	margin-bottom: 50px;

}
.book{
	width: 90vw;
	margin: auto;
	background-color:#ffffff;
	display: flex;
	flex-direction: column;
	
}
.book-library>div>img{
	width: 35vw;
	margin:auto;
}
.heading{
	text-align: center;
	background-color: #ffffff;
	width: 90vw;
	margin: auto;
	
}
.book>h3, .book>p{
	margin: 0;
	padding-inline: 20px;
}
.book-library{
	border: 5px solid white;
	width: 90vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color:  0px 0px 0px 10px rgba(0, 0, 0, 0.1);
}